<!DOCTYPE html>
<html>
  <head>
    <title>Final <%= title %> Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Final <%= title %> Project</h1>
    <p>Welcome to shalin's final project using <%= title %></p>
  </body>
</html>
